.search {
	h1 {
		font-size: 30px;
	}	

	background-color: $grey;
	padding: 50px 10%;
	height: 270px;
	margin: 0 auto;
	text-align: center;

	@media only screen and (max-width: 600px) {
		height: 500px;
	}

	.filters {
		padding-top: 20px;
		color: $teal;
		display: flex;
		justify-content: center;
		align-items: center;

		@media only screen and (max-width: 600px) {
			flex-direction: column;
		}

		.tip {
			font-size: 12px;
			text-transform: uppercase;
		}

		.select {
			margin: 0 5px;
		}
	
		.multiselect-parent.btn-group.dropdown-multiselect {
			.dropdown-menu.dropdown-menu-form {
				padding: 25px;
				width: 300px;

				@media only screen and (max-width: 600px) {
					width: 200px;
				}
			}

			@media only screen and (max-width: 600px) {
				margin-bottom: 10px;
			}

			button.dropdown-toggle {
				display: flex;
			    justify-content: space-between;
			    align-items: center;
				width: 245px;
				color: $teal;
				background-color: $white !important; 

				&:active, &:hover, &:focus {
					background-color: $white !important; 
				}
			}

			li {
				&.active {
					a {
						color: $white;
						background-color: $deputy-blue;
					}
				}

				.option {
					background-color: $grey;
					color: $teal;
					margin-top: 5px;
					border-radius: 5px;
					padding: 10px 30px 10px 15px;

					.padded {
						padding-left: 20px;	
					}
				}
			}

			.multiselect-top {
				display: flex;
			    justify-content: space-between;
			    align-items: center;

			    a {
			    	padding: 0;
			    	color: $lighter-blue;
			    	text-decoration: underline;
			    	font-weight: bold;
			    }				
			}
		}
	}

	select {
		color: $teal;
		padding: 10px;
	}

	.top {
		margin-bottom: 35px;

		h1 {
			font-weight: bold;
		}
	}

	.results {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		.card { 
			flex-basis: 30%;
			background-color: $white;
			color: $teal;
			margin-bottom: 30px;
	
			margin-left: 3%;

			max-width: 340px;
			box-sizing: border-box; 
			border-radius: 2px;
			box-shadow: 0px 1px 15px #DDD;
			padding: 30px;

			deputy-card {
				display: flex;
				flex-direction: column;
			 	justify-content: space-around;
			 	align-items: center;	
 				height: 330px;
			}

			@media only screen and (max-width: 600px) {
				flex-basis: 100%;
			}
		}

		.logo {
			img {
				max-width: 125px;
			  	max-height:75px;
				width: auto;
				height: auto;
			}
		}

		.bottom {
			.link {
				color: $light-blue;
				font-weight: bold;
				text-decoration: none;
			}

			.tip {
				font-size: 10px;
				margin-top: 10px;
				text-transform: uppercase;
			}
		}
	}

	.pagination {
		display: flex;
		justify-content: center;
		align-items: center;

		.page-length {
			margin-left: 10px;
			height: 32px;
		    background-color: $white;
		    border-color: #DDD;
		}
	}

}


/* VARIABLES */