<section class="search">
  <div class="top">
    <h1>You're in good company</h1>
    
    <div class="filters">
      <span class="tip">Filter By</span>

      <span class="select" ng-dropdown-multiselect=""
              options="categories.industry" 
              selected-model="selectFilter.industry" 
              extra-settings="selectSettings" 
              translation-texts="selectTextIndustry"></span>
      <span class="select" ng-dropdown-multiselect=""
              options="categories.location" 
              selected-model="selectFilter.location" 
              extra-settings="selectSettings" 
              translation-texts="selectTextLocation"></span>
      <span class="select" ng-dropdown-multiselect=""
              options="categories.company_size" 
              selected-model="selectFilter.company_size" 
              extra-settings="selectSettings" 
              translation-texts="selectTextCompanySize"></span>
      <span class="select" ng-dropdown-multiselect=""
              options="categories.use_case" 
              selected-model="selectFilter.use_case" 
              extra-settings="selectSettings" 
              translation-texts="selectTextUseCase"></span>
    </div>
  </div>

  <section class="results">
    <div class="card" ng-repeat="item in items"> 
      <deputy-card info="item"></deputy-card>
    </div>
  </section>

  <section class="pagination">
    <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
  </section>
</section>  

