<section class="search">
  <div class="top">
    <h1>You're in good company</h1>
    
    <div class="filters">
      <span class="tip">Filter By</span>

      <span class="select" ng-dropdown-multiselect=""
              options="categories.industry" 
              selected-model="example16model" 
              extra-settings="selectSettings" 
              translation-texts="selectTextIndustry"></span>
      <span class="select" ng-dropdown-multiselect=""
              options="categories.location" 
              selected-model="example16model" 
              extra-settings="selectSettings" 
              translation-texts="selectTextLocation"></span>
      <span class="select" ng-dropdown-multiselect=""
              options="categories.company_size" 
              selected-model="example16model" 
              extra-settings="selectSettings" 
              translation-texts="selectTextCompanySize"></span>
      <span class="select" ng-dropdown-multiselect=""
              options="categories.use_case" 
              selected-model="example16model" 
              extra-settings="selectSettings" 
              translation-texts="selectTextUseCase"></span>

      <!--       
      <select name="" id="">
        <option value="Industries">Industries</option>
      </select>
      <select name="" id="">
          <option value="Location">Location</option>
      </select>
      <select name="" id="">
        <option value="Company Size">Company Size</option>
      </select>
      <select name="" id="">
        <option value="Use Case">Use Case</option>
      </select> 
      -->
    </div>
  </div>

  <section class="results">
    <div class="card" ng-repeat="item in items"> 
      <deputy-card info="item"></deputy-card>
    </div>
  </section>
</section>  

